doctype html
html(lang="en")
    head
        title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="../component/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet" href="../assets/css/global.css")
        link(rel="stylesheet" href="../assets/css/index.css")
        link(rel="stylesheet" href="../component/owlCarousel2/assets/owl.carousel.min.css")
        script(src="../component/jquery/jquery.min.js")
        script(src="../component/popper/umd/popper.min.js")
        script(src="../component/bootstrap/js/bootstrap.min.js")
        script(src="../component/owlCarousel2/owl.carousel.min.js")
        script(src="../assets/js/index.js")
    body
        header.ui-header
            .grid
                a.logo(href="")
                    img(style="width:75px;height:18px;" src="../assets/img/logo.png")
                span.ui-button-menu
            .grid
                a.language.active(href="") CN
                a.language(href="") EN
        section.m-banner
            .owl-carousel.ui-banner-wrap
                .ui-banner(style="background-image:url(../../static/img/banner/1/bg.jpg)")
                    .text
                        p
                            img(style="width: 155px;" src="../../static/img/banner/1/title.png")
                        p 每一种木材都天赋异禀，有的人听见风就能写歌，有的人遇场雨都能作诗...
                    video(style="height: 100%;" src="../../static/media/1.mp4")
                .ui-banner(style="background-image:url(../../static/img/banner/1/bg.jpg)")
                    .text
                        p
                            img(style="width: 155px;" src="../../static/img/banner/1/title.png")
                        p 每一种木材都天赋异禀，有的人听见风就能写歌，有的人遇场雨都能作诗...
                    video(style="height: 100%;" src="../../static/media/1.mp4")
                .ui-banner(style="background-image:url(../../static/img/banner/1/bg.jpg)")
                    .text
                        p
                            img(style="width: 155px;" src="../../static/img/banner/1/title.png")
                        p 每一种木材都天赋异禀，有的人听见风就能写歌，有的人遇场雨都能作诗...
                    video(style="height: 100%;" src="../../static/media/1.mp4")
        section.m-about
            .about-text
                p 在经历了四分之一个世纪的洗礼后，红星美凯龙如今迎来了第100座家居MALL的诞生。中国家居业的百MALL时代，标志。
            .about-video
                .ui-thumb-video
                    p 更好的日常
                    i.iconfont.icon-play
                    img(style="width: 100%;" src="../../static/img/3.jpg")
                .ui-thumb-video
                    img(style="width: 100%;" src="../../static/img/3.jpg")
                    p 更好的日常
                    i.iconfont.icon-play
        section.m-news
            h3.ui-title 新闻
            .ui-thumbnail
                img(style="width: 100%;" src="../../static/img/2.png")
                label 2017.11.11
                p 红星美凯龙抢占共享经济风口，携手优客工场创新升级商业空间
            .ui-thumbnail
                img(style="width: 100%;" src="../../static/img/2.png")
                label 2017.11.11
                p 红星美凯龙抢占共享经济风口，携手优客工场创新升级商业空间
            .ui-thumbnail
                img(style="width: 100%;" src="../../static/img/2.png")
                label 2017.11.11
                p 红星美凯龙抢占共享经济风口，携手优客工场创新升级商业空间
            .ui-thumbnail
                img(style="width: 100%;" src="../../static/img/2.png")
                label 2017.11.11
                p 红星美凯龙抢占共享经济风口，携手优客工场创新升级商业空间
        section.m-branch
            h3.ui-title 全国商场
            .branch-photo
                .owl-carousel
                    .photo
                        img(style="width: 100%;" src="../../static/img/1.png")
                        p 华中大区
                    .photo
                        img(style="width: 100%;" src="../../static/img/1.png")
                        p 华中大区
                    .photo
                        img(style="width: 100%;" src="../../static/img/1.png")
                        p 华中大区
                    .photo
                        img(style="width: 100%;" src="../../static/img/1.png")
                        p 华中大区
            .branch-map
                img(style="width: 100%;" src="../assets/img/map.png")
        section.ui-contact
            .grid
                p 4008-213-213
                p hongxingmeikailong@163.com
                p jiajushangchang@126.com
            .grid
                .contact-sns
                    i.iconfont.icon-weibo
                    i.iconfont.icon-weixin
                a.ui-button-normal APP下载
        footer.ui-footer
            p &copy; 2016 by red starCO,LTD.All rights reserved 沪ICP备12018312号-1
            p 沪公网安备 31010702002586号
